# Virtual environment
.venv/
.venv
.venv1/
.venv1
.env



# Python cache
__pycache__/
*.pyc

# Database (don't commit your actual data)
*.db
*.sqlite
*.sqlite3

# Environment variables / secrets
.env

# Flask instance folder 
instance/

#files memories
uploads/

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/